<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layouttemplate :: layout (~{::body})}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>replace</title>
</head>
<body>
    <div class="container">
        <h1>Newsletters</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Message</th>
                    <th scope="col">Date</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="newsletter : ${newsletters}">
                    <td th:text="${newsletter.getId()}"></td>
                    <td th:text="${newsletter.getSubject()}"></td>
                    <td th:text="${newsletter.getMessage()}"></td>
                    <td th:text="${#dates.format(newsletter.getDate(),'yyyy-MM-dd')}"></td>
                    <span th:if="${newsletter.getSent()} == false">
                        <td>
                            <a th:href="@{/admin/edit-newsletter}" class="btn btn-danger">Edit</a>
                        </td>
                        <td>
                            <form th:action="@{/admin/newsletters/delete/{id}(id=${newsletter.id})}" th:method="delete">
                                <button class="btn btn-danger" type="submit"/>Delete</button>
                            </form>
                        </td>
                    </span>
                </tr>
            </tbody>
        </table>
        <div th:switch="${newsletters[#lists.size(newsletters) - 1].sent}">

            <a th:case="true" th:href="@{/admin/send-newsletter}" class="btn btn-primary btn-lg" role="button">Add new</a>


            <a th:case="false" th:href="@{/admin/edit-newsletter}" class="btn btn-primary btn-lg" role="button">Edit last draft</a>

        </div> 
    </div>
</body>
</html>