<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layouttemplate :: layout (~{::body})}">
<head>
    <meta charset="UTF-8"/>
    <title>replace</title>
</head>
<body>
<div class="container">
    <h1>Newsletters</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Subject</th>
            <th scope="col">Message</th>
            <th scope="col">Date</th>
        </tr>
        </thead>id
        <tbody>
        <tr th:each="newsletter : ${newsletters}">
            <td th:text="${newsletter.getId()}"></td>
            <td th:text="${newsletter.getSubject()}"></td>
            <td th:text="${newsletter.getMessage()}"></td>
            <td th:text="${newsletter.getDate()}"></td>
            <td>
                <a th:href="@{/admin/newsletter/edit(id=${newsletter.getId()})}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/admin/send-newsletter}" class="btn btn-primary btn-lg" role="button">Add new</a>
</div>



</body>
</html>