<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layouttemplate :: layout (~{::body})}">
<head>
    <meta charset="UTF-8"/>
    <title>replace</title>
</head>
<body>
<div class="container">
    <h1>Krisinfo</h1>

    <div class="card mb-3">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <img class="card-img-bottom" src="..." alt="Card image cap">
      </div>

</div>

{ "Id": "12652",
"FeatureSection": 2,
"Headline": "Covid-19",
"Preamble": "Här kan du läsa mer om hanteringen av utbrottet av covid-19 och vad du kan göra för att undvika att sprida smittan.",
"BodyText": "",
"ImageLink": "https://www.krisinformation.se/globalassets/detta-kan-handa/handelser-och-kriser/2020-coronavirus/johner_provror_appen.jpg",
"ImageCaption": "",
"VideoUrl": "",
"VideoCaption": "",
"YoutubeId": "",
"Checklist": [],
"Facts": "",
"Links": [
    { "Text": "Myndigheternas samlade information om covid-19",
      "Url": "https://www.krisinformation.se/detta-kan-handa/handelser-och-storningar/20192/myndigheterna-om-det-nya-coronaviruset/" } ],
"ChangedDate": "2022-12-16T10:27:44+01:00",
"SortOrder": 0 }


</body>
</html>